<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Текущая загадка</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<% Puzzle = JSON.parse(puzzle); %>
	<div class="container-fluid header">
		<div class="col col-4 logo">

		</div>
		<div class="col col-8 description">
			
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col col-4 menu">
				<ul class="menu-list">
					<li>Текущая загадка</li>
					<li>Таблица результатов</li>
					<li>Сдаться</li>
				</ul>
			</div>
			<div class="col col-8">
			</div>
		</div>
	</div>
</body>
</html>