<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="start-page-style.css">
    <link rel="shortcut icon" href="https://b-i.forbesimg.com/afontevecchia/files/2013/10/NQ_Live_Hdr_Logo.png">
    <title>Night Quest</title>
  </head>
  <body>
  	<div class="center">
      <div class="card">
  		  <div class="card-body" id="content">
  		    <p class="card-text">Готовы ли вы бросить вызов тьме? Осознаёте всю опасность, которая стоит перед вами? Понимаете, что сбежав с поля боя, вам не избежать позора, но если вы дойдёте до конца, то ваше имя навсегда останется в истории? Если да, то пора начинать! </p>
  		    <form action="/login/" method="post">
  		    	<input type="text" id="login" name="nickname" class="form-control text-center w-75 mx-auto" placeholder="Введите ваше имя">
            <input type="password" id="password" class="form-control text-center w-75 mx-auto" name="password" placeholder="Введите пароль">
  		    	<input type="submit" name="login" id="submit" class="btn btn-primary" disabled formaction="/login/" formmethod="post" value="Войти">
            <input type="submit" name="signup" id="register" disabled class="btn btn-primary" formaction="/register/" formmethod="post" value="Зарегистрироваться">
  		    </form>
    		</div>
      </div>
      <span id="msg" class="invisible"><%= message %></span>
      <span id="start" class="invisible"><%= start %></span>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="image-change.js"></script>
  </body>
</html>